@import "bootstrap/dist/css/bootstrap.min.css";

:root {
    --highlight-color: hsl(11deg 59.61% 75.95%);
}

body.light {
    background-color: #ffffff;
    color: #000000;
}

body.dark {
    background-color: #121212;
    color: #ffffff;
}

.navbar-light.dark {
    background-color: #333333;
}

.navbar-toggler {
    border: 2px solid var(--highlight-color);
}

.navbar-collapse {
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    z-index: 1050;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: white;
    }
}

.navbar-nav {
    flex-direction: column;
}

.navbar-nav .nav-link {
    color: var(--highlight-color);
}

.navbar-nav .nav-link:hover {
    color: black;
}

.navbar-brand:hover {
    color: var(--highlight-color);
    text-decoration: none;
}

.benefit-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 8px;
}

.benefit-header {
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal;
}

html {
    font-size: 14px;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

@media (min-width: 768px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}
